.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
rebar.lock
teacup_nats.d
.erlang.mk/
doc/guide.pdf
doc/html
test/logs/
test/packages/
test/test_rebar_git/

deps/