{deps, [
{lager,".*",{git,"https://github.com/erlang-lager/lager","3.9.1"}},{jsx,".*",{git,"https://github.com/talentdeficit/jsx.git","v3.1.0"}},{teacup,".*",{git,"https://github.com/yuce/teacup.git","2ab8a3c"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,{parse_transform,lager_transform}]}.
